@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #110c3f, #3223b9);;
    }

    #login {
        width: 85vw;
        height: 270px;
    }

    #login > #imagem {
        float: left;
        width: 35%;
        height: 100%;
    }
    
    #formulario {
        float: right;
        width: 65%;
        height: 100%;
    }

    #formulario > p {
        font-size: 0.8em;
    }

    input[type=submit] {
        margin-top: 10px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #110c3f, #3223b9);
    }

    #login {
        width: 950px;
        height: 290px;
    }

    #login > #imagem {
        float: right;
        width: 35%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 65%;
        height: 100%;
    }

    #formulario > h1 {
        font-size: 2em;
    }

    #formulario > p {
        font-size: 1.2em;
    }
}