@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5f2c82;
}

form {
    padding: 10px;
    position: absolute;
    width: 220px;
    height: 460px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

form h1 {
    text-align: center;
    padding: 5px;
}

form p {
    font-size: 0.8em;
}

#imagem {
    height: 180px;
    background-image: url(/images/predio.jpg);
    background-size: cover;
    margin: -11px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}

.inputBox {
    background-color: #5f2c82;
    display: block;
    margin: 10px 0px;
    width: 100%;
    padding: 2px;
    border-radius: 6px;
}

input {
    height: 2em;
    background: #afe4e2ce;
    border-radius: 6px;
    width: 80%;
}

input:focus {
    background: white;
}

.material-symbols-outlined {
    color: white;
    transform: translate(3px, 5px);
}

#loginBtn {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    background: #57bdb9;
    border: none;
    cursor: pointer;
}

#forgetPass {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 9px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #57bdb9;
    border-radius: 6px;
    cursor: pointer;
    color: #2c6b69;
}

#loginBtn:hover, #forgetPass:hover {
    background: #72d3d1;
}